.heroButton {
    background-color: #4262FF;
    color: #FFFFFF;
}

h1,
h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #050038;
}

p {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.heroText {
    color: #050038;
}

.sectionText {

    color: #05003899;
}

header a {
    text-decoration: none;
    color: #050038;
}

.sectionList li::marker {
    content: url(../images/check.svg);
    color: #05003899;
}