.section_light {
    background-color: var(--color-bg-light);
}

.button {
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: var(--color-text);
    width: 179px;
    height: 54px;
    padding: 16px 32px;
    border-radius: var(--border-10);
}

.button_primary {
    background-color: var(--color-primary);
    border: none;
}

.button_ghost {
    background: none;
    border: 1px;
    border-color: var(--color-stroke);
    border-style: solid;
    width: 149px;
}

.button_play {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-family: 'Fira Sans' sans-serif;
    bottom: 70px;
    left: 60px;
    position: absolute;
    width: 168px;
    background-color: var(--color-bg-light);
    border: none;
}

.social-icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.social-icons__icon {
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-8);
    padding: 11px;
    width: 48px;
    height: 48px;
}

.social-icons__icon:hover {
    background-color: var(--color-bg-medium);
}

@media (max-width: 1200px) {
    .button_play {
        bottom: 16px;
        left: 16px;
        font-size: 17px;
        padding: 12px 24px;
    }

    .button_play img {
        width: 24px;
        height: 24px;
    }

    .button {
        padding: 12px 24px;
    }

    .button_primary {
        width: 163px;
    }

    .button_ghost {
        width: 133px;
    }
}