.section_light {
    background-color: var(--color-bg-medium);
}

.section__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 100px 24px;
}

.button {
    padding: 16px 32px;
    color: var(--color-text);
    background: none;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    border-radius: var(--border-10);
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.button_primary {
    background-color: var(--color-primary);
}

.button_ghost {
    border: 1px solid var(--color-stroke);
}

.button_ghost:hover {
    background: var(--color-bg-light);
}

.button_play {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-family: 'Fira Sans' sans-serif;
    bottom: 70px;
    left: 60px;
    position: absolute;
    width: 168px;
    background-color: var(--color-bg-light);
    border: none;
}

.social-icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.social-icons__icon {
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-8);
    padding: 11px;
    width: 48px;
    height: 48px;
}

.social-icons__icon:hover {
    background-color: var(--color-bg-medium);
}

/* Headling */

.headling {
    margin-bottom: 32px;
    color: var(--color-text);
}

.headling__top {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-secondary);
    margin-bottom: 8px;
}

.headling__bottom {
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    color: var(--color-text);
    margin: 0 0 32px 0;
}

@media (max-width: 860px) {
    .headling__bottom {
        font-weight: 400;
        font-size: 34px;
        line-height: 120%;
    }
}

/* paragraph */

.paragraph {
    max-width: 787px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-text);
}

.paragraph_32 {
    margin-bottom: 32px;
}

/* Card */

.card {
    background: var(--color-bg-medium);
    border-radius: var(--border-10);
}

.card_light {
    background: var(--color-bg-light);
}

.card__32 {
    padding: 32px;
}

.card_48x24 {
    padding: 48px 24px;
}

.card_24x32 {
    padding: 24px 32px;
}

.post__wrapper {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 48px;
}

/* post */

.post {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.post__button a {
    display: block;
}

.post__stats {
    display: flex;
    gap: 32px;

}

.post__stat {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-link-hover);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.post__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-text);
}

.post__header {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.post__description {
    max-width: 742px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

@media (max-width: 860px) {
    .post {
        flex-direction: column;
    }

    .post__header {
        font-size: 21px;
    }
}

/* chip */

.chip {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-text);
    padding: 8px 16px;
    border-radius: var(--border-10);
    border: 1px solid var(--color-stroke);
    background: none;
    white-space: nowrap;
}

.chip:hover {
    background: var(--color-bg-medium);
    cursor: pointer;
}

.chip_wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    overflow: scroll;
}

.chip_wrapper::-webkit-scrollbar {
    display: none;
}

.chip_active {
    background: var(--color-primary);
    border: none;
}

.chip_active:hover {
    background: var(--color-primary-hover);
}

/* Course Card */

.courses_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px;
}

.course_card {
    background: var(--color-bg-medium);
    border-radius: var(--border-10);
    color: var(--color-text);
}

.course_card__cover img {
    width: 100%;
}

.course_card__title {
    padding-top: 24px;
    margin-bottom: 4px;
}

.course_card__author {
    margin-bottom: 16px;
    color: var(--color-link-hover);
}

.course_card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background: var(--color-bg-light);
    border-radius: 0 0 var(--border-10) var(--border-10);
}

.course_card__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

.course_card__body {
    padding-left: 24px;
}

.course_card__hours {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    align-items: center;
}

/* Tag */

.course_card__tags {
    display: flex;
    gap: 12px;
    padding-bottom: 24px;
}

.tag {
    padding: 6px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-text);
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-17);
}


/* Media expressions */

@media (max-width: 1200px) {
    .button_play {
        bottom: 16px;
        left: 16px;
        font-size: 17px;
        padding: 12px 24px;
    }

    .button_play img {
        width: 24px;
        height: 24px;
    }

    .button {
        padding: 12px 24px;
    }

    .button_primary {
        width: 163px;
    }
}

@media (max-width: 640px) {
    .button {
        padding: 12px 32px;
    }
}