.hero {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero__h1 {
    color: var(--color-text);
    font-family: 'Fira Sans';
    margin: 0;
    font-size: 54px;
    line-height: 100%;
    font-weight: bold;
    margin-bottom: 32px;
}

.hero__h1_gradient {
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__cta {
    display: flex;
    gap: 32px;
}

.button_more {
    text-align: center;
}

.hero__video {
    text-align: center;
}

.video_wrapper {
    position: relative;
    max-width: 458px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .video_wrapper {
        max-width: 321px;
    }

    .hero {
        flex-direction: column;
        gap: 24px;
    }

    .hero__cta {
        justify-content: center;
        gap: 16px;
    }

    .hero__h1 {
        text-align: center;
    }

    .hero__video img {
        width: 312px;
        padding: 0 auto;
    }

    .hero__video button {
        width: 152px;
        height: 48px;
    }
}

@media (max-width: 640px) {
    .hero__h1 {
        font-size: 30px;
        line-height: 120%;
    }

    .hero__video {
        width: 100%;
    }

    .video_wrapper img {
        width: 100%;
    }
}