.hero {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero__h1 {
    color: var(--color-text);
    font-family: 'Fira Sans';
    margin: 0;
    font-size: 54px;
    line-height: 100%;
    font-weight: bold;
    margin-bottom: 32px;
}

.hero__h1_gradient {
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__cta {
    display: flex;
    gap: 32px;
}

.button_more {
    text-align: center;
}

.hero__video {
    text-align: center;
}

.video_wrapper {
    position: relative;
    max-width: 458px;
    margin: 0 auto;
}

.trust-wrapper {
    display: grid;
    grid-template-columns: [start] repeat(3, 1fr) [end];
    gap: 0 75px;
}

.trust-wrapper__top {
    grid-column: start / end;
}

.trust-wrapper__stat {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 70px;
}

.trust-wrapper__num {
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.trust-wrapper__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-text);
}

.trust-wrapper__h3 {
    grid-column: start / end;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-text);
}

.trust-wrapper__rating {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 70px;
}

.trust-wrapper__rate {
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    color: var(--color-text);
}

@media (max-width: 1200px) {
    .video_wrapper {
        max-width: 321px;
    }

    .hero {
        flex-direction: column;
        gap: 24px;
    }

    .hero__cta {
        justify-content: center;
        gap: 16px;
    }

    .hero__h1 {
        text-align: center;
    }

    .hero__video img {
        width: 312px;
        padding: 0 auto;
    }

    .hero__video button {
        width: 152px;
        height: 48px;
    }

    .trust-wrapper {
        grid-template-columns: [start] repeat(2, 1fr) [end];
    }
}

@media (max-width: 640px) {
    .hero__h1 {
        font-size: 30px;
        line-height: 120%;
    }

    .hero__video {
        width: 100%;
    }

    .video_wrapper img {
        width: 100%;
    }

    .trust-wrapper {
        grid-template-columns: [start] 1fr [end];
    }
}